







/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 200px;
}

td, th {
	border: 1px solid #000;
	width: 33%;
}

th {
	font-weight: bold;
	cursor: pointer;
	background: #40454B;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	color: #c2bead;
	background: #2f2e29;
}
.wrapper {
	min-width: 300px;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	padding: 0 20px;
	background: #4A545D;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 0 0 10px 10px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	margin: 10px 0 0 0;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 270px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	padding-top: 10px;
	position: relative;
}

.left-sidebar img {
	margin: 45px 0;
	width: 100%;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -50px auto 0;
	min-width: 300px;
	max-width: 1000px;
	height: 50px;
	position: relative;
	background: #4A545D;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 10px 10px 0 0;
	text-align: center;
}

div.copywrite {
	padding: 16px 0;
}

a, a:link, a:visited { color: #34baf9; text-decoration: none; }
a:hover { color: #CCFF00; text-decoration: underline; }

/* --------------------------------------------- */

h1 {
	font: bold 36px 'Marmelad', sans-serif;
	color: #e2c934;
	text-shadow: 3px 3px 2px #000;
	text-align: center;
}

h2, h3, h4, h5, h6 {
	display: inline-block;
	color: #e2c934;
	margin: 10px 0;
	font-weight: bold;
	text-shadow: 3px 3px 2px #000;
	font-size: 16px;
}

button {
	width: 100%;
	display: block;
	font-family: arial,sans-serif;
	font-size: 12px;
	color: rgb(205,216,228);
	text-shadow: 0 -1px rgb(46,53,58);
	text-decoration: none;
	user-select: none;
	line-height: 2em;
	padding: 1px 1.2em;
	outline: none;
	border: 1px solid rgba(33,43,52,1);
	border-radius: 3px;
	background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
	box-shadow:
	inset 0 1px rgba(101,114,126,1),
	inset 0 0 1px rgba(140,150,170,.8),
	0 1px rgb(83,94,104),
	0 0 1px rgb(86,96,106);
}

button:hover {
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

button:active {
	top: 1px;
	background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
	box-shadow:
	0 0 1px rgba(0,0,0,.5) inset,
	0 2px 3px rgba(0,0,0,.5) inset,
	0 1px 1px rgba(255,255,255,.1);
}

p {
	text-align: justify;
	margin-bottom: 10px;
}

p#quot {
	font-size: 1.2em;
	color: #f9a834;
	margin: 10px 0 0 0;
	text-align: center;
}

p.fff {
	margin-bottom: 0;
	font-style: italic;
	font-size: 1em;
}

img#smile {
	position: absolute;
	margin-left: 3px;
}

table {
	width: 300px;
}
